<!DOCTYPE html>
<html>
<head>
  <script src='./src/app.js'></script>
  <script src='./src/thermostat.js'></script>
  <script src='./src/buttonSounds.js'></script>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>



  <body bgcolor="#000000">
  <body onload="startMeUp()">

    <h1 class="headline1">
      <div id="temperature">
      </div>
    </h1>
    <p>
      <button class = 'btn' onclick="DownButton()" onmousedown="down.play()" id='down'><<</button>
      <button class = 'btn' onclick="UpButton()" onmousedown="up.play()" id='up'>>></button><P>
      <button class = 'btn' onclick="resetButton()" onmousedown="reset.play()" id='reset'>R E S E T</button>
    <p>
      <span style="color:white;font-weight:bold"><input type="checkbox" onmousedown="powersaving.play()" id="onoff"> <i> <== power saving mode</i></p></span>
  </body>
</html>