<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/css/style.css" type="text/css" />
<style>

      h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 10px 10px 0px #F8FF2B;
    font-size: 700%;
    text-align: center;
}

h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 1px 1px 1px #F8FF2B;
    font-size: 200%;
    text-align: center;
}

h3 {
    margin: 5px;
    padding: 5px
    border: 1px solid #000000;
    height: auto;
    width; auto
}

</style>
</head>

<h1>S A N J I F Y ! !</h1>

<h2>
Drag the link below to your bookmark toolbar to Sanjify any page:<p>
<a href="javascript:

(
(function() {
  var imgs=document.getElementsByTagName('img');for(var i=0;i<imgs.length;i++){imgs[i].setAttribute('src','https://avatars1.githubusercontent.com/u/4478671?v=3&s=400');}})())

">SANJIFY</a>
</h2>

<h3>
<img
</h3>

</html>